*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root{

}

p, h2 {
    padding: 10px;

} 

main {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 90%;
    height: auto;
    border: 5px solid black;
}

header {
    padding: 10px;
    display: flex;
    border: 5px solid black;
    text-align: center;
    font-size: 40px;
    justify-content: space-around;
}
header, h1 {
    margin-right: auto;
    font-size: 50px;
}

input {
    margin: 5px;
    padding: 5px;
    width: 98%;
    height: 100px;
}

label {
    text-align: left;
    margin: 5px;
}

.theme {
    margin: 5px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(248, 248, 153, 0.719);
    border-radius: 10px;
}

.theme:hover {
    transform: scale(1.1);
}

.dark {
    background-color: #5f6368;
    height: 100vh;
    color: beige;
}

.light {
    background-color: #f0ead6;
    color: black;
    height: 100vh;
}


#backbtn {
    margin: 10px;
    padding: 5px;
    background-color: black;
    color: #f0ead6;
}

a {
    color: #f0ead6;
}
.footer {
    margin: 0%;
    background-color: #5f6368;
    text-align: center;
    font-size: 25px;
}