*{
    padding:0%;
    margin:0%;
}

:root {

}

body, div {
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid grey;
    border-radius: 15px;
    
}

.theme {
    padding: 5px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(248, 248, 153, 0.719);
    border-radius: 10px;
}

.theme:hover {
    transform: scale(1.1);
}

.main-img {    
    padding: 20px;
    margin: auto;
   width: fit-content;
   height: fit-content; 
   border: 5px solid grey;  
   border-radius: 10px;
}

.card {
    font-size: 30px;
    padding: 10px;
    margin: 10px auto;
    border: 5px solid grey;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
}

input {
    background-color: whitesmoke;
    border-radius: 3px;
    border-width: 1px;
    color: #5f6368;
    font-size: 1.1em;
    height: 45px;
    line-height: 20px;
    margin: 0;
    margin-top: 10px;
    width: fit-content;
    padding: 8px 8px 8px 8px;
    transition-delay: 0s, 0s;
    transition-duration: 0.2s, 0.2s;
    transition-property: background-color, color;
    transition-timing-function: ease, ease;
    vertical-align: middle;
  } 

  .input-group {
    display: flex;
    justify-content: right;
    padding: 10px;
  }
  
  #thoughts {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
  }

#submit {
    margin-top: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
}

#submit:hover {
    transform: scale(1.1);
}


.dark {
    background-color: #5f6368;
    height: 100%;
    color: beige;
}

.light {
    background-color: #f0ead6;
    color: black;
    height: 100%;
}

a {
    color: black;
}
 @media screen and(max-width: 786px) {
    body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
 }
